/* Variable fonts*/
@font-face {
    font-family: "Anybody-VF";
    font-display: block;
    font-weight: 400 700;
    src: 
        url("/fonts/anybody/Anybody-VF.woff2") format("woff2 supports variations"),
        url("/fonts/anybody/Anybody-VF.woff2") format("woff2-variations");

}

@font-face {
    font-family: "Inter-VF";
    font-display: block;
    font-weight: 300 700;
    src: 
        url("/fonts/inter/Inter-VF.woff2") format("woff2 supports variations"),
        url("/fonts/inter/Inter-VF.woff2") format("woff2-variations");
  }

@font-face {
    font-family: 'Fraunces-VF';
    font-display: block;
    font-weight: 100 700;
    src: 
        url("/fonts/fraunces/Fraunces-VF.woff2") format("woff2 supports variations"),
        url("/fonts/fraunces/Fraunces-VF.woff2") format("woff2-variations");
  }


/* Static fonts*/
@font-face {
    font-family: "Anybody";
    font-weight: 400;
    font-style: normal;
    font-display: block;
    src:
        local(""),
        url("/fonts/anybody/Anybody-Regular.woff2") format("woff2"),
        url("/fonts/anybody/Anybody-Regular.woff") format("woff");
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Anybody";
    font-weight: 700;
    font-style: normal;
    font-display: block;
    src:
        local(""),
        url("/fonts/anybody/Anybody-Bold.woff2") format("woff2"),
        url("/fonts/anybody/Anybody-Bold.woff") format("woff");
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Inter";
    font-weight: 300;
    font-style: normal;
    font-display: block;
    src:
        local(""),
        url("/fonts/inter/Inter-Light.woff2") format("woff2"),
        url("/fonts/inter/Inter-Light.woff") format("woff");
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-display: block;
    src:
        local(""),
        url("/fonts/inter/Inter-Regular.woff2") format("woff2"),
        url("/fonts/inter/Inter-Regular.woff") format("woff");
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Inter";
    font-weight: 500;
    font-style: normal;
    font-display: block;
    src:
        local(""),
        url("/fonts/inter/Inter-Medium.woff2") format("woff2"),
        url("/fonts/inter/Inter-Medium.woff") format("woff");
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Inter";
    font-weight: 700;
    font-style: normal;
    font-display: block;
    src:
        local(""),
        url("/fonts/inter/Inter-Bold.woff2") format("woff2"),
        url("/fonts/inter/Inter-Bold.woff") format("woff");
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Fraunces";
    font-weight: 100;
    font-style: normal;
    font-display: block;
    src:
        local(""),
        url("/fonts/fraunces/Fraunces-Thin.woff2") format("woff2"),
        url("/fonts/fraunces/Fraunces-Thin.woff") format("woff");
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Fraunces";
    font-weight: 300;
    font-style: normal;
    font-display: block;
    src:
        local(""),
        url("/fonts/fraunces/Fraunces-Light.woff2") format("woff2"),
        url("/fonts/fraunces/Fraunces-Light.woff") format("woff");
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Fraunces";
    font-weight: 400;
    font-style: normal;
    font-display: block;
    src:
        local(""),
        url("/fonts/fraunces/Fraunces-Regular.woff2") format("woff2"),
        url("/fonts/fraunces/Fraunces-Regular.woff") format("woff");
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Fraunces";
    font-weight: 700;
    font-style: normal;
    font-display: block;
    src:
        local(""),
        url("/fonts/fraunces/Fraunces-Bold.woff2") format("woff2"),
        url("/fonts/fraunces/Fraunces-Bold.woff") format("woff");
    text-rendering: optimizeLegibility;
}

/* icon fonts*/

@font-face {
    font-family: 'icomoon';
    font-weight: normal;
    font-style: normal;
    font-display: block;
    src:
        url("/fonts/icon/icomoon.woff2") format("woff2"),
        url("/fonts/icon/icomoon.woff") format("woff");
    text-rendering: optimizeLegibility;
}


[class^="icon-"]::before, [class*="icon-"]::before{
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    /* speak: never; */
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-arrow-right::before{
    content: "\e900";
  }
  .icon-blogger::before{
    content: "\e901";
  }
  .icon-facebook::before {
    content: "\e902";
  }
  .icon-favorites::before {
    content: "\e903";
  }
  .icon-instagram::before {
    content: "\e904";
  }
  .icon-linkedin::before {
    content: "\e905";
  }
  .icon-search::before {
    content: "\e906";
  }
  .icon-shop-cart::before {
    content: "\e907";
  }
  .icon-twitter::before {
    content: "\e908";
  }
  .icon-user::before {
    content: "\e909";
  }
  

