---

---
<footer class="footer-background">
    <div class="container">
        <div class="footer padding-left_min padding-right_min">
            <p class="copyright">
                &#169; 2024
                <cite>
                    Maksim Stahovskii
                </cite>
            </p>
        </div>
    </div>
</footer>

<style>
    .footer-background {
        background: var(--color-gainsboro);        
    }
    .footer {
        --pad: 1.875rem;
        padding-top: var(--pad);
        padding-bottom: var(--pad);
    }

    .copyright, cite {
        font-family: var(--font-Fraunces);
        font-weight: 400;
        font-style: normal;
        font-size: .75rem;
        line-height: 1.6;
        letter-spacing: .01em;
        color: var(--color-black-light);
        text-align: center;
    }

    @media screen and (max-width: 575.98px) {
    .copyright, cite {
        font-size: .75rem;
    }
    }

</style>