---

---
<header class="header">
    <div class="container">
    <section class="header-top">
        <nav class="nav-social" aria-label="menu-social">
            <ul class="nav-social-list">
                <li class="social-item"><a class="social-item-link" href="#"><i class="icon-facebook"></i></a></li>
                <li class="social-item"><a class="social-item-link" href="#"><i class="icon-instagram"></i></a></li>
                <li class="social-item"><a class="social-item-link" href="#"><i class="icon-linkedin"></i></a></li>
                <li class="social-item"><a class="social-item-link" href="#"><i class="icon-twitter"></i></a></li>
                <li class="social-item"><a class="social-item-link" href="#"><i class="icon-blogger"></i></a></li>
            </ul>
        </nav>
        <p class="header-top__text-delivery text-capitalize">Free shipping on a purchase value of $200</p>
        <a class="header-top__tel text-capitalize" href="tel:+57444110035"><span>Let's talk!</span> +57 444 11 00 35</a>
    </section>

    <section class="header-bottom">
        <nav class="menu" aria-label="menu">
            <ul class="menu-list">
                <li><a href="#">Women</a></li>
                <li><a href="#">Men</a></li>
                <li><a href="#">Kids</a></li>
                <li><a href="#">Accessories</a></li>
            </ul>
        </nav>

        <nav class="menu" aria-label="menu">
            <ul class="menu-list">
                <li><a href="#">Women</a></li>
                <li><a href="#">Men</a></li>
                <li><a href="#">Kids</a></li>
                <li><a href="#">Accessories</a></li>
            </ul>
        </nav>

    </section>        
    </div>

</header>

<style>
    .header-top {
        padding: 16px 0;
        display: flex;
        justify-content: space-between;
    }
.nav-social-list {
    width: 162px;
    display: flex;
    justify-content: space-between;
}
.social-item-link {
    font-family: 'icomoon';
    font-size: 12px;
    color: var(--color-icon3);
}

.header-top__text-delivery {
    font-family: var(--font-Inter);
font-weight: 400;
font-size: 14px;
color: var(--color-icon3);
}

.header-top__tel {
    font-family: var(--font-Inter);
font-weight: 400;
font-size: 14px;
color: var(--color-icon3);
}
</style>